.login-form {
    max-width: 80%;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
    color:rgb(196, 101, 58);
}
.space {
    align-content: center;
    justify-content: center;
    width: 25%;
    height: 50%;
    position: relative;
    left: 37%;
    margin-top: 10%;
    border-radius: 10%;
    box-shadow: 5px 5px 5px;
    background-color: #98c911;
}

.space div{
    margin-top: 1%;
    margin-left: 4%;
}
.title {
    margin-left: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
.title {
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    margin-left: 28%;
}


